<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=localhost;Database=users;Uid=root;Pwd=jasmine" name="users" providerName="MySql.Data.MySqlClient" />
        <add connectionString="Server=localhost;Database=broomball;Uid=root;Pwd=jasmine" name="broomball" providerName="MySql.Data.MySqlClient" />
        <add connectionString="Server=localhost;Database=announcements;Uid=root;Pwd=jasmine" name="announcements" providerName="MySql.Data.MySqlClient" />
        <add connectionString="Server=localhost;Database=hockey;Uid=root;Pwd=jasmine" name="hockey" providerName="MySql.Data.MySqlClient" />
        <add connectionString="Server=localhost;Database=diary;Uid=root;Pwd=jasmine" name="diary" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
